/* Sets background to black so that during the fade effects, the screen appears to be going black instead of the default white color */
#body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

/* Centers divs */
div {
  text-align: center;
}

#start {
  font-family: 'Aladin', sans-serif;
  font-size: 100px;
  letter-spacing: 6px;
  color: ghostwhite;
  transition-duration: 250ms;
}

/* When your cursor hovers over the start button, the color of the text changes and the cursor changes to the hand */
#start:hover {
  cursor: pointer;
  color: #20b2aa;
}

/* Pushes button down screen so that button fits well with image */
#middle {
  margin-top: 25%;
  text-align: center;
}

/* Most of these id's will be formatting divs. One's like these format the background image. The display's are set to none so that they can be displayed later on int he js */
#caveScreen {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp7326071.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#caveScreen0 {
  display: none;
}

/* Formats the text boxes when the story continues. This includes setting font type, size, boldness, color, and the black box with white border around the text. */
#storyBox {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 500px;
  border-radius: 5px;
}

#storyBox0 {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 0;
}

#spiritChoices {
  display: none;
}

/* Hovering over pokemon will make them shiny to indicate which one you are hovering over */
#gengarShiny:hover {
  content: url('https://img.pokemondb.net/sprites/black-white/anim/shiny/gengar.gif');
  cursor: pointer;
}

#snorlaxShiny:hover {
  content: url('https://img.pokemondb.net/sprites/black-white/anim/shiny/snorlax.gif');
  cursor: pointer;
}

#spiritChoices img {
  margin: 0px 100px 0px;
}

#victiniShiny:hover {
  content: url('https://img.pokemondb.net/sprites/black-white/anim/shiny/victini.gif');
  cursor: pointer;
}

#caveCutScene {
  display: none;
}

#storyBoxCutScene {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 175px;
  border-radius: 5px;
}

#storyBoxCutScene:hover {
  cursor: pointer;
}

#storyBox1 {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
}

#caveCorrect {
  display: none;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/048/306/141/4k/rita-yuwei-li-temple-interior-render5.jpg?1649716594');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBoxCorrect {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

#caveDeadEnd {
  display: none;
  background-image: url('https://pxwall.com/wp-content/uploads/2019/04/4K-Dark-Wall-Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBoxDeadEnd {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

#cave0 {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp7510723.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBox0 {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

#cave1 {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp5300487.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBox1{
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

#cave2 {
  display: none;
  background-image: url('https://wallpapersmug.com/u/2a62af/dark-dragon-and-warrior-the-elder-scrolls-v-skyrim.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBox2 {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
}

#playAgain {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 50px;
  padding-top: 250px;
  letter-spacing: 6px;
  color: black;
  background-image: url('https://i.imgur.com/rQGehDH.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#yes:hover, #no:hover {
  cursor: pointer;
  color: snow;
}

/* Transition duration property makes it so the time it takes to transition to the hover properties is however long the transition duration is set to */
#yes, #no {
  margin: 0px 50px;
  display: inline-block;
  transition-duration: 250ms;
}

#question {
  margin: 0;
}

/* Sets music to top left corner */
#gameOverMusic {
  background-image: url('https://images.alphacoders.com/115/1153448.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#storyBoxGengar {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 175px;
  border-radius: 5px;
}
#storyBoxVictini {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 175px;
  border-radius: 5px;
}
#storyBoxSnorlax {
  display: none;
  font-family: 'Aladin', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: left;
  border: 10px double white;
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 175px;
  border-radius: 5px;
}

#caveScreenGengar {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp7326071.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#caveScreenVictini {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp7326071.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#caveScreenSnorlax {
  display: none;
  background-image: url('https://wallpapercave.com/wp/wp7326071.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Formats size of pokemon images on caveScreen */
#spiritChoicesGengar img {
  margin: 500px 100px 0px;
}

#spiritChoicesVictini img {
  margin: 500px 100px 0px;
}

#spiritChoicesSnorlax img {
  margin: 500px 100px 0px;
}

#gameOverMusic {
  text-align: left;
  display: none;
}

/* Formats start screen image */
#startDiv {
  text-align: left;
  background-image: url('https://i.pinimg.com/originals/04/0e/f1/040ef18a9501473d3d9c160ee7c507df.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* This creates the typing letter by letter effect by setting how many characters there are int he storyBox then making the effect last that many characters long. The letters are set to black behind the cursor then as the cursor moves along the text, it reveals the text color as white, making the effect that the cursor is typing the characters letter by letter. This effect is used for every storyBox within my game! */
#type {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters)*20ms) steps(var(--characters)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type0 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters0)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters0)*20ms) steps(var(--characters0)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type1 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters1)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters1)*20ms) steps(var(--characters1)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type2 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters2)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters2)*20ms) steps(var(--characters2)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type3 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters3)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters3)*20ms) steps(var(--characters3)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type4 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters4)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters4)*20ms) steps(var(--characters4)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type5 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters5)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters5)*20ms) steps(var(--characters5)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

#type6 {
  font-family: 'Aladin', sans-serif;
  color: #0000;
  background:
    linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--characters6)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--characters6)*20ms) steps(var(--characters6)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

audio {
  text-align: left;
}